<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="breadcrumb">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <%= render_breadcrumbs builder: BreadcrumbsOnRailsBuilder %>
    </ol>
  </div>
</nav>
