<p>
  <strong><%= Involvement.human_attribute_name('person') %> :</strong>
  <%= link_to @involvement.person, @involvement.person %>
</p>

<%= link_to t('edit'), edit_role_person_path(@role, @involvement) %> |
<%= link_to t('back'), role_people_path(@role) %>
